.card {
    min-height: 100vh;
    background-image: url("../../img/maxresdefault.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed; /* mantiene la imagen de fondo estatica */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
}
